@page
@model Microsoft.AspNetCore.Mvc.RazorPages.PageModel
@{
    ViewData["Title"] = "Removed";
}

<h1>Page removed</h1>

<div class="alert alert-warning">This administration page has been removed from the application for security reasons.</div>

