@page
@model IntroductionModel
@{
    ViewData["Title"] = "About";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the IT Inventory System</h1>
    <p>This is a simple internal application built specifically for managing IT inventory.</p>
    <p>If you find any issues or problems in this app, please contact anettak@johnlscott.com with your feedback.</p>
    <p>Thank you!</p>
</div>